{% extends 'base.html.twig' %}

{% block title %}Edit team
{% endblock %}
{% block body %}

<h2>Modifier l'équipe</h2>
<section class="formId">

<form class="team-edit-form" action="{{ path('team_edit', {'id': team.id}) }}" method="post">
	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.TeamName, 'Nom de l\'équipe') }}
        {{ form_widget(form.TeamName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</form>

</section>

{% endblock %}
