{% extends 'base.html.twig' %}

{% block body %}
	<h2>Modifier la session d'entraînement</h2>

	<div class="training-session-form">
		{{ form_start(form) }}
		{{ form_row(form.sessionNumber, {
                    'attr': {'class': 'form-control', 'placeholder': 'Numéro de session :'}
                }) }}
		{{ form_row(form.date, {
                    'attr': {'class': 'form-control', 'placeholder': 'Date : '}
                }) }}
		{{ form_row(form.team, {
                    'attr': {'class': 'form-control', 'placeholder': 'Équipe :'}
                }) }}
	</div> 
	<a href="{{ path('app_training_session') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
