{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle session d'entraînement
{% endblock %}

{% block body %}
	<div class="training-session-form-container">
		<h2>Créer une nouvelle session d'entraînement</h2>

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		<div class="training-session-form">
			{{ form_start(form) }}
			{{ form_row(form.sessionNumber, {
                    'attr': {'class': 'form-control', 'placeholder': 'Numéro de session :'}
                }) }}
			{{ form_row(form.date, {
                    'attr': {'class': 'form-control', 'placeholder': 'Date : '}
                }) }}
			{{ form_row(form.team, {
                    'attr': {'class': 'form-control', 'placeholder': 'Équipe :'}
                }) }}

			<button type="submit" class="btn btn-primary">Créer</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
