{% extends 'base.html.twig' %}

{% block title %}Training Session{% endblock %}

{% block body %}
<div class="session">
    <div class="session-info">
        <h2>Séance d'entrainement</h2>

        <p>Numéro de la séance: {{ training_session.sessionNumber }}</p>
        <p>Date: {{ training_session.date|date('Y-m-d') }}</p>
        <p>Equipe: {{ training_session.team.teamName}}</p>

			{% if is_granted('ROLE_COACH') or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_training_session_edit', {'id': training_session.id}) }}">Modifier</a>
            {% endif %}

        {% if is_granted('ROLE_COACH') or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_training_statistic_new', {'sessionTrainingId': training_session.id, 'teamId': training_session.team.id}) }}">Statistisques</a>
     {% endif %}
    </div>
</div>

<div class="presence-info">
    {% if training_statistics %}
    
    <h3>Présence</h3>
    <ul>
        {% for statistic in training_statistics %}
        <li>
            <article class="training">
                <h3>{{ statistic.user.firstname }} : </h3>
                <p>
                {% if statistic.actualDelay == true %}retard {% endif %}
                </p>

                <p>
                {% if statistic.actualAbsence == true %} absent{% endif %}
                </p>
                <p>
                {% if  statistic.actualPresence == true %} present 
                {% endif %}
                </p>
            </article>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Pas encore de données</p>
    {% endif %}
</div>

{% endblock %}