<<<<<<< Updated upstream
<!DOCTYPE html>
<html>
	<head>
		<meta
		charset="UTF-8">
		{# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<script src="{{ asset('assets/app.js') }}"></script>
=======
	{% block head %}
>>>>>>> Stashed changes

	<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8">
			<title>
				{% block title %}TeamStatsTracker!
				{% endblock %}
			</title>
			{% block stylesheets %}	
				<script src="{{ asset('js/app.js') }}"></script>
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="{{ asset('app.css') }}">
			{% endblock %}
		</head>
	{% endblock %}

	{% block nav %}
		<nav class="navbar">
			<a class='title' href="{{ path('app_main') }}">
				<div class="logo-container">
					<img class="logo" src="{{ asset('image/logo.png') }}" alt="logo">
					<h1>TeamStatsTracker</h1>
				</div>
			</a>
			<ul class="nav-links">
				{% if app.user %}
					<li>
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
					<li>
						<a href="{{ path('app_training_session') }}">Entrainement</a>
					</li>
					<li>
						<a href="{{ path('team_index') }}">Vos equipes</a>
					</li>
					<li>
						<a href="{{ path('app_user_edit', {id: app.user.id}) }}">Modifier le profil</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_register') }}">Creer un compte</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}">Se connecter</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	{% endblock %}


	{% block body %}

		<h2>Tableau de bord</h2>
		<div class="container">


			<section class="presentation">
				<p>TeamStatsTracker est une application web qui permet de suivre les statistiques de vos équipes de sport.</p>
				<p>Vous pouvez créer des équipes, des joueurs, des entrainements et des matchs.</p>
				<p>Vous pouvez ensuite suivre les statistiques de vos équipes et de vos joueurs.</p>
			</section>

			<section class="team-infos">

				<h3>Vos équipes</h3>
				<div class="teams">

					{% for team in teams %}
						<div class="team">
							{{ team.teamName }}
						</div>
					{% endfor %}
				</div>

				<h3>Vos prochaines séances d'entraînement</h3>
				<div class="training-sessions-index">

					{% for session in trainingSessions|slice(0, 12) %}
						<div class="session-index">
							<p>Date :
								{{ session.date|date('Y-m-d') }}
							</p>
							<p>Entrainement n°
								{{ session.sessionNumber }}</p>
						</div>
					{% endfor %}
				</div>
			</section>
		</div>

	</html>
</div>{% endblock %}

{% block footer %}
<footer>
	<div class="footer-content">
		<p>© 2023 Mon Site. Tous droits réservés.</p>
	</div>
</footer>
{% endblock %}</body></html>
